
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  height: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  font-Family: DaiBannaSIL;
}
.profile-card.dark {
  background-color: #222; /* Example dark background color */
  color: white;  /* Example text color for dark mode */
} 
.profile-card.light{
  background-color:  #FFECAF; /* Example dark background color */
  color: #141105;  /* Example text color for dark mode */
}  

.profile-title.dark {
  color: white;  /* Example text color for dark mode */
} 
.profile-title.light {
  color:  #141105;  /* Example text color for dark mode */
} 

.profile-image-container {
  margin-top: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
}

.profile-card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 20px;
  
}

.profile-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile-details {
  margin-top: 10px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-icon {
  margin-right: 5px;
}  