
.navbar-user-image {
  width: 30px; 
  height: 30px; 
  border-radius: 50%; 
}

.user-info .dropdown {
  position: relative;
  top: 2px;
}
.login-button {
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  transition: color 0.3s ease; 
  background: transparent; 
  outline: none; 
}
.login-button:hover {
  color: #0056b3; 
}

.logo-image {
  width: 40px; 
  height: 40px; 
  margin-right:30px; 
}


