.navbar-user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-info .dropdown {
  position: relative;
  top: 2px;
}

.navbar-image {
  background-size: cover;
  background-repeat: no-repeat;
}
